<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>upload</title>
</head>

<body>
  <form id="upload-form" action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
    <input id="inputField" type="file" name="file" accept="image/*" multiple />
    <input type="submit" value="send" />
  </form>
  <script>
    var inputElement = document.getElementById("inputField");
    inputElement.addEventListener("change", handleFiles, false);

    function handleFiles() {
      var fileList = this.files;
      console.log(fileList)
      /* now you can work with the file list */
    }
  </script>
</body>

</html>